.header{
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  color: white;
  position: fixed;
  width: 100%;
}

.links{
  margin-left: 24px;
  list-style-type: none;
  text-align: right;
  font-size: x-large;

  & a:link {
    text-decoration: none;
  }

}

.menu{
  width: 50%;
  color:white;
}

.spacing{
  width: 50%;
}

.menu-link {
  color: blue;
  margin-right: 10px;
}


